<ion-content>
  <div class="card-row">
    <div class="content">
      <div class="title-cate">
        <ion-label>
          <h2>อาหารทั้งหมด (24)</h2>
        </ion-label>
      </div>
      <div class="menu" value="all" *ngFor="let i of [1,2,3,4,5,6,7,8]">
        <div class="data">
          <div class="img">
            <ion-thumbnail>
              <img
                src="https://images.pexels.com/photos/2693448/pexels-photo-2693448.jpeg?auto=compress&cs=tinysrgb&w=1600"
                alt="img">
            </ion-thumbnail>
          </div>
          <div class="name">
            <ion-label>
              <h2>โรตีเปล่า</h2>
            </ion-label>
            <ion-label>
              <h5>80</h5>
            </ion-label>
          </div>
        </div>
        <div class="btn-add">
          <ion-button color="warning" id="add-order">
            <h2>+</h2>
          </ion-button>
        </div>
      </div>
    </div>

    <ion-modal #modal trigger="add-order">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>เพิ่มรายการอาหาร</ion-title>
            <ion-icon slot="end" name="close-outline" size="large" (click)="dismiss()"></ion-icon>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="modal-row">
            <div class="row-details">

              <div class="order">
                <div class="order-detail">
                  <div class="img">
                    <ion-thumbnail>
                      <img
                        src="https://images.pexels.com/photos/1739347/pexels-photo-1739347.jpeg?auto=compress&cs=tinysrgb&w=600"
                        alt="image">
                    </ion-thumbnail>
                  </div>
                  <div class="name">
                    <ion-label>
                      <h2>{{name}}</h2>
                    </ion-label>
                    <ion-label>
                      <h5>{{price}}</h5>
                    </ion-label>
                  </div>
                </div>
                <div class="btn-count">
                  <ion-button color="warning" (click)="decrement()">-</ion-button>
                  <p>{{count}}</p>
                  <ion-button color="warning" (click)="onAddCart()" (click)="increment()">+</ion-button>
                </div>
              </div>

              <div class="toping">
                <ion-label>
                  <h2>Topping</h2>
                  <h5>(ไม่บังคับ, เลือกได้มากกว่า 1 รายการ)</h5>
                </ion-label>
              </div>

              <div class="toping-option" *ngFor="let i of [1,2,3,4,5]">
                <ion-label>Toping</ion-label>
                <ion-radio-group [allowEmptySelection]="true" value="turtles">
                  <ion-radio color="warning" slot="end" value="toping"></ion-radio>
                </ion-radio-group>
              </div>

              <div class="size">
                <ion-label>
                  <h2>Select Size</h2>
                </ion-label>
              </div>

              <div class="select-size">
                <ion-list>
                  <ion-radio-group [allowEmptySelection]="true" value="turtles">
                    <ion-item lines="full">
                      <ion-label>
                        <h2>S</h2>
                        <p>฿80</p>
                      </ion-label>
                      <ion-radio color="warning" slot="end" value="size-s"></ion-radio>
                    </ion-item>
                    <ion-item lines="full">
                      <ion-label>
                        <h2>M</h2>
                        <p>฿100</p>
                      </ion-label>
                      <ion-radio color="warning" slot="end" value="size-m"></ion-radio>
                    </ion-item>
                    <ion-item lines="full">
                      <ion-label>
                        <h2>L</h2>
                        <p>฿120</p>
                      </ion-label>
                      <ion-radio color="warning" slot="end" value="size-l"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </div>

              <div class="note">
                <ion-input placeholder="เพิ่มโน็ต..."></ion-input>
              </div>
            </div>

            <div class="add-cart" *ngIf="addCart">
              <ion-button (click)=" onUpdateCart()" fill="clear" expand="full">
                <h2>เพิ่มไปในตะกร้า</h2>
                <h4>฿{{price * count}}</h4>
              </ion-button>
            </div>

          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <div class="update" *ngIf="updateCart">
    <div class="col-1">
      <div class="cart">
        <img src="/assets/icon/icon-shopping.png" alt="">
        <ion-label>
          <h2>{{count}}</h2>
        </ion-label>
      </div>
      <div class="price">
        <ion-label>
          <h2>{{price*count}}</h2>
        </ion-label>
      </div>
    </div>
    <div class="col-2">
      <ion-button fill="clear" (click)="update()">อัปเดทคำสั่งซื้อ</ion-button>
    </div>
  </div>

</ion-content>