<ion-content>
  <div class="content-container">
    <div class="data">
      <div class="img">
        <ion-thumbnail>
          <img alt="img" src="/assets/image/pic1.jpg" />
        </ion-thumbnail>
      </div>
      <div class="details">
        <ion-label>
          <h2>Strawberry sundae</h2>
          <h3>(ตัวเลือกเสริม 1)</h3>
          <h5>115</h5>
        </ion-label>
      </div>
      <div class="status">
        <ion-button color="success">แสดง</ion-button>
      </div>
    </div>
    <div class="btn-edit">
      <ion-button (click)="editFood()" color="medium">แก้ไข</ion-button>
    </div>
  </div>

  <div class="content-container">
    <div class="data">
      <div class="img">
        <ion-thumbnail>
          <img alt="img" src="/assets/image/pic4.jpg" />
        </ion-thumbnail>
      </div>
      <div class="details">
        <ion-label>
          <h2>Chocolate Ice Cream</h2>
          <h3>(ตัวเลือกเสริม 1)</h3>
          <h5>55</h5>
        </ion-label>
      </div>
      <div class="status">
        <ion-button color="success">แสดง</ion-button>
      </div>
    </div>
    <div class="btn-edit">
      <ion-button (click)="editFood()" color="medium">แก้ไข</ion-button>
    </div>
  </div>

  <div class="content-container">
    <div class="data">
      <div class="img">
        <ion-thumbnail>
          <img alt="img" src="/assets/image/pic3.jpg" />
        </ion-thumbnail>
      </div>
      <div class="details">
        <ion-label>
          <h2>Strawberry smoothei</h2>
          <h3>(ตัวเลือกเสริม 1)</h3>
          <h5>55</h5>
        </ion-label>
      </div>
      <div class="status">
        <ion-button color="medium">ไม่แสดง</ion-button>
      </div>
    </div>
    <div class="btn-edit">
      <ion-button (click)="editFood()" color="medium">แก้ไข</ion-button>
    </div>
  </div>

  <div class="content-container">
    <div class="data">
      <div class="img">
        <ion-thumbnail>
          <img alt="img" src="/assets/image/pic2.jpg" />
        </ion-thumbnail>
      </div>
      <div class="details">
        <ion-label>
          <h2>Strawberry smoothei</h2>
          <h3>(ตัวเลือกเสริม 1)</h3>
          <h5>55</h5>
        </ion-label>
      </div>
      <div class="status">
        <ion-button color="medium">ไม่แสดง</ion-button>
      </div>
    </div>
    <div class="btn-edit">
      <ion-button (click)="editFood()" color="medium">แก้ไข</ion-button>
    </div>
  </div>

  <div class="content-container">
    <div class="data">
      <div class="img">
        <ion-thumbnail>
          <img alt="img" src="/assets/image/pic5.jpg" />
        </ion-thumbnail>
      </div>
      <div class="details">
        <ion-label>
          <h2>Strawberry smoothei</h2>
          <h3>(ตัวเลือกเสริม 1)</h3>
          <h5>55</h5>
        </ion-label>
      </div>
      <div class="status">
        <ion-button color="medium">ไม่แสดง</ion-button>
      </div>
    </div>
    <div class="btn-edit">
      <ion-button (click)="editFood()" color="medium">แก้ไข</ion-button>
    </div>
  </div>

  <div class="add-order">
    <ion-button (click)="addFood()" color="success" shape="round">
      <div class="icon">
        <ion-icon name="add"></ion-icon>
      </div>
      เพิ่มรายการอาหาร
    </ion-button>
  </div>

</ion-content>