<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <ion-label>
        <h1>ครัว</h1>
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="title-status">
    <ion-label>
      <h2>สถานะคำสั่งซื้อ</h2>
    </ion-label>
  </div>

  <div class="status">
    <div class="row-1">
      <div class="content">
        <div class="no">
          <ion-label>
            <h2>#006 (ทานที่นี่)</h2>
          </ion-label>
        </div>
      </div>
      <div class="date-time">
        <div class="date">
          <ion-label>
            <h5>2022-11-20</h5>
          </ion-label>
          <ion-label>
            <h6>11:15.02</h6>
          </ion-label>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="content">
        <ion-label>
          <h2>รวมทั้งสิ้น</h2>
        </ion-label>
        <ion-label>
          <h5>฿ 100</h5>
        </ion-label>
      </div>
      <div class="btn">
        <ion-button (click)="onDetail()" color="danger">กำลังเตรียมอาหาร</ion-button>
      </div>
    </div>
  </div>

  <div class="status">
    <div class="row-1">
      <div class="content">
        <div class="no">
          <ion-label>
            <h2>#006 (กลับบ้าน)</h2>
          </ion-label>
        </div>
      </div>
      <div class="date-time">
        <div class="date">
          <ion-label>
            <h5>2022-11-20</h5>
          </ion-label>
          <ion-label>
            <h6>11:15.02</h6>
          </ion-label>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="content">
        <ion-label>
          <h2>รวมทั้งสิ้น</h2>
        </ion-label>
        <ion-label>
          <h5>฿ 100</h5>
        </ion-label>
      </div>
      <div class="btn">
        <ion-button color="danger">กำลังเตรียมอาหาร</ion-button>
      </div>
    </div>
  </div>


  <div class="status">
    <div class="row-1">
      <div class="content">
        <div class="no">
          <ion-label>
            <h2>#007 (ทานที่นี่)</h2>
          </ion-label>
        </div>
      </div>
      <div class="date-time">
        <div class="date">
          <ion-label>
            <h5>2022-11-20</h5>
          </ion-label>
          <ion-label>
            <h6>11:15.02</h6>
          </ion-label>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="content">
        <ion-label>
          <h2>รวมทั้งสิ้น</h2>
        </ion-label>
        <ion-label>
          <h5>฿ 100</h5>
        </ion-label>
      </div>
      <div class="btn">
        <ion-button color="primary">รอยืนยันการแก้ไข</ion-button>
      </div>
    </div>
  </div>

  <div class="status">
    <div class="row-1">
      <div class="content">
        <div class="no">
          <ion-label>
            <h2>#A008 (ทานที่นี่)</h2>
          </ion-label>
        </div>
      </div>
      <div class="date-time">
        <div class="date">
          <ion-label>
            <h5>2022-11-20</h5>
          </ion-label>
          <ion-label>
            <h6>11:15.02</h6>
          </ion-label>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="content">
        <ion-label>
          <h2>รวมทั้งสิ้น</h2>
        </ion-label>
        <ion-label>
          <h5>฿ 100</h5>
        </ion-label>
      </div>
      <div class="btn">
        <ion-button color="success">อาหารเสร็จแล้ว</ion-button>
      </div>
    </div>
  </div>

</ion-content>