<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <p>ประวัติการขาย</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <!-- <div class="non-history">
    ไม่มีประวัติคำสั่งซื้อ
  </div> -->

  <div class="date">
    Today
  </div>

  <div class="card-container" (click)=" historyDetail()">
    <div class="data">
      <div class="row-1">
        <div class="track">
          <ion-label>
            <h1>#001</h1>
          </ion-label>
        </div>
        <div class="date-time">
          <ion-label>
            <h5>2022-11-20</h5>
          </ion-label>
          <ion-label>
            <h6>11:15:02</h6>
          </ion-label>
        </div>
      </div>
      <div class="row-2">
        <ion-label>
          <h5>รวมทั้งสิ้น</h5>
        </ion-label>
        <ion-label>
          <h6>฿ 275</h6>
        </ion-label>
      </div>
    </div>
    <div class="btn">
      <ion-button color="medium">รับแล้ว</ion-button>
    </div>
  </div>

</ion-content>